@charset "UTF-8"

body {
    
    font-family: Arial, Helvetica, sans-serif;
    /* medidas absolutas
    cm mm in pt px pc

    medidas relativas
    em ex rem vh vw %
    16px geralmente é = 1em
    */
    font-size: 1em;
    font-weight: bolder;
    /* lighter normal bold bolder*/
    font-style: italic;
    text-decoration: underline;
}
main{
    background-image: linear-gradient(to right, #3198E2, #6D59C0, #B93590,#E33F5F);
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 25px black;
    max-width: 1000px
    pading: 10px;
    margin:auto;

}
    