@charset "UTF-8";

body{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(250, 246, 3);
    background-color: rgb(78, 236, 5);
}
h2{
    color: rgb(56, 3, 247);
    background-color: chartreuse;
}
p{
    text-align: justify;
}