@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{
    background-image: linear-gradient(to right, #3198E2, #6D59C0, #B93590, #E33F5F, #FDD579);
}
 
main{
    background-color: white;
    border-radius: 10px ;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F39209;
}
h2{
    color: #125189;
}

p{
    text-align: justify;
}